{% extends 'base/main.html' %}
{% block content %}

<h1>Lista de Tarefas</h1>

#barra de add
<a href="{% url 'task-create' %}">📝 Nova tarefa</a>
<a href="{% url 'add-category' %}">🗂️ Nova categoria</a>

#dropdown categorias
<form method="GET" action="{% url 'tasks' %}">
    <select name="category">
        <option value="">All Categories</option>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filtrar">
</form>

#lista de tarefas
<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task-update' task.id %}">✏️ Editar</a></td>
        <td><a href="{% url 'task-delete' task.id %}">🗑️ Excluir</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3"><h3>Não há itens na lista</h3></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
